.Container{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, red, yellow);
    padding-block: 1em;
    margin-top: 3px solid black;
    text-align: center;
    color: white;
}