.Container{
    width: 100%;
    background-image: linear-gradient(to bottom, red, yellow);
    padding-block: 1rem;
    text-align: center;
    color: black;
    padding-top: 25px;
    font-weight: 500%;

}
